.formulario-contenedor {
    -fx-background-color: linear-gradient(to bottom right, #f3e8ff, #e0ccff);
}

.formulario-vbox {
    -fx-spacing: 10;
    -fx-padding: 20;
}

.formularioTitulo-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #6a0dad;
}

.formulario-label {
    -fx-font-size: 14px;
    -fx-text-fill: #4a4a4a;
}

.campo-input {
    -fx-background-color: white;
    -fx-border-color: #c084fc;
    -fx-border-width: 1.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6;
    -fx-font-size: 14px;
    -fx-text-fill: #3a3a3a;
}

.campo-area {
    -fx-background-color: white;
    -fx-border-color: #c084fc;
    -fx-border-width: 1.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-text-fill: #3a3a3a;
}

.boton-guardar {
    -fx-background-color: linear-gradient(to right, #a855f7, #7e22ce);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.boton-guardar:hover {
    -fx-background-color: linear-gradient(to right, #9333ea, #6b21a8);
}
