/* ----- Principal de la Aplicación ----- */
.mainFxmlClass {
    -fx-background-color: #1e1e2f;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-text-fill: white;
}

.label-titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffeb81;
}

.combo-box .text-field{
    -fx-background-color: #2c2c3e;
    -fx-border-color: #444;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 4px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.combo-box-popup .list-view {
    -fx-background-color: #2c2c3e;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #2c2c3e;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #3a3a4f;
}

.table-view {
    -fx-background-color: #1e1e2f;
    -fx-border-color: #3f3f5a;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 5px;
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.table-view  .table-row-cell {
    -fx-background-color: #26263c;
}
.table-view  .table-row-cell:odd {
    -fx-background-color: #2e2e4a;
}
.table-view  .table-row-cell:selected {
    -fx-background-color: #8457b9;
    -fx-text-fill: #0d0c0e;
}

.table-view  .table-cell {
    -fx-text-fill: white;
    -fx-padding: 6px;
    -fx-alignment: CENTER_LEFT;
}

.table-view  .column-header-background {
    -fx-background-color: #555170;
    -fx-border-color: transparent;
    -fx-background-radius: 6 6 0 0;
}
.table-view  .column-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}



#editarDatosHuesped {
    -fx-background-color: #ffd166;
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#editarDatosHuesped:hover {
    -fx-background-color: #fcbf49;
}

#btnEliminarHuesped {
    -fx-background-color: #ef233c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#btnEliminarHuesped:hover {
    -fx-background-color: #d90429;
}

#btnAgregarHuesped {
    -fx-background-color: #06d6a0;
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#btnAgregarHuesped:hover {
    -fx-background-color: #00b386;
}